// inherits basic styling from ./recipes.scss

.categories {
  display: flex;
  flex-direction: column;

  &__title-container {
    margin: 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  &__colour {
    width: 100%;
    display: flex;
    align-items: center;

    &__indicator {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      margin-right: 10px;
    }
  }

  &__count {
    font-weight: normal;
    margin-left: 4px;
  }

  &.form {
    .categories__colour {
      .input {
        flex: 1
      }

      &__indicator {
        margin-bottom: 14px;
        margin-left: 10px;
      }
    }
  }
}
