@import "_colours";

.recipes {
  .button_to {
    display: flex;
    align-items: center;
  }

  &__edit,
  &__add {
    margin-left: 20px;
  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__level {
    font-size: 16px;
    font-weight: normal;
    margin-left: 10px;
  }

  &__categories {
    display: flex;
    font-size: 14px;
    font-weight: normal;

    &--badge {
      border-radius: 3px;
      padding: 0 4px;

      &:not(:last-of-type) {
        margin-right: 4px;
      }
    }
  }
}
