<div class="categories">
  <h1>Categories
    <%= button_to('+ New Category',
      new_category_path,
      :method => :get,
      class: 'primary inline left') %>
  </h1>

  <% @category.each do |category| %>
    <div class="categories__title-container">
      <span class="categories__colour__indicator" style="background:<%= category.colour %>;"></span>
      <%= link_to(category.name, category_path(category.id), class: 'categories__link no-deco') %>
      <span class="categories__count">(<%= category.recipes.count %>)</span>
    </div>
  <% end %>
</div>
